In [ ]:
import os
import warnings 
warnings.filterwarnings('ignore')
os.chdir('..')

In [ ]:
from core.nn.hOPT import HOPT
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import pickle
import datetime
import seaborn as sns
import covsirphy as cs
sns.set()
%matplotlib inline

%load_ext autoreload
%autoreload 2

In [ ]:
COUNTRY      = 'Netherlands'
DEVICE       = 'cpu'
TRAIN_UP_TO  = pd.to_datetime('2020-10-05')
ThreshConf   = 70
ThreshDead   = 20
target       = "New Confirmed"
FUTURE_DAYS  = 123

In [ ]:
model = HOPT(COUNTRY, TRAIN_UP_TO, FUTURE_DAYS, ThreshDead, target, TYPE="LSTMCell")

In [ ]:
results = model.simulate(ThreshConf)

In [ ]:
pred = results["pred"]
predDate = results["predDate"]
showTrainData = results["showTrainData"]
showValData = results["showValData"]

In [ ]:
df1 = pd.DataFrame(pred, index=predDate, columns=["LSTM"]);

In [ ]:
df2 = pd.DataFrame(pred, index=predDate, columns=["RNN"])

In [ ]:
df3 = pd.DataFrame(pred, index=predDate, columns=["GRU"])

In [ ]:
SIR = pd.read_csv("./assets/SIR_country.csv")
SIRD = pd.read_csv("./assets/SIRD_country.csv")
SIRF = pd.read_csv("./assets/SIRF_country.csv")
# df1 = pd.DataFrame(pred, index=predDate, columns=["RNN"])
# df8 = pd.DataFrame(pred_LSTM, index=predDate, columns=["LSTM"])
# df2 = pd.DataFrame(pred_GRU, index=predDate, columns=["GRU"])

df4 = pd.DataFrame(SIRF["Confirmed"].values, index=SIRF["Date"].values, columns=["SIRF"])
df5 = pd.DataFrame(SIR["Confirmed"].values, index=SIR["Date"].values, columns=["SIR"])
df6 = pd.DataFrame(SIRD["Confirmed"].values, index=SIRD["Date"].values, columns=["SIRD"])
df7 = pd.DataFrame(showTrainData["ConfirmedCases"].values, index=showTrainData["Date"].values, columns=["train"])
df8 = pd.DataFrame(showValData["ConfirmedCases"].values, index=showValData["Date"].values, columns=["val"])

# merged = df1.join(df2)
# merged = merged.join(df3)
# merged = merged.join(df4)
# merged = merged.join(df5)
# merged = merged.join(df8)
# merged = merged.join(df6, how="outer")
# merged = merged.join(df7, how="outer")
# merged

# # merged2 = df6.merge(df7)
# # merged2
# merged.to_pickle("country_comparison_confirmedcases.p")

In [109]:
merged = df1.join(df2)
merged = merged.join(df3)
display(merged)

merged3 = df4.join(df5)
merged3 = merged3.join(df6)
display(merged3)
merged3.to_pickle("country_comparison_confirmedcases_SIRS.p")
# merged = merged.join(df7)
# merged = merged.join(df7, how="outer")
# merged = merged.join(df8, how="outer", on="index")

merged2 = pd.concat([merged, df7, df8], axis=1)
display(merged2)
merged2.to_pickle("country_comparison_confirmedcases.p")

                   LSTM          RNN          GRU
2020-10-05  4084.814209  4048.178955  3950.218018
2020-10-06  4185.785645  4092.645020  3991.834717
2020-10-07  4295.053223  4141.319336  4033.420410
2020-10-08  4405.441406  4193.833984  4072.969238
2020-10-09  4513.728516  4242.038574  4110.120117
...                 ...          ...          ...
2021-01-27  5750.087402  6060.695312  8950.979492
2021-01-28  5750.087402  6062.183105  8994.460938
2021-01-29  5750.087402  6063.613281  9037.425781
2021-01-30  5750.087402  6064.983398  9079.863281
2021-01-31  5750.087402  6066.302246  9121.764648

[119 rows x 3 columns]

              SIRF      SIR     SIRD
2020-10-04  135587   135587   135587
2020-10-05  138707   138998   138998
2020-10-06  141863   142449   142450
2020-10-07  145055   145939   145939
2020-10-08  148284   149470   149471
...            ...      ...      ...
2021-02-05  922092   993182   994146
2021-02-06  932766  1004669  1005654
2021-02-07  943523  1016239  1017247
2021-02-08  954363  1027894  1028922
2021-02-09  965287  1039632  1040682

[129 rows x 3 columns]

                   LSTM          RNN          GRU  train  val
2020-02-27          NaN          NaN          NaN    1.0  NaN
2020-02-29          NaN          NaN          NaN    5.0  NaN
2020-03-01          NaN          NaN          NaN    4.0  NaN
2020-03-02          NaN          NaN          NaN    8.0  NaN
2020-03-03          NaN          NaN          NaN    6.0  NaN
...                 ...          ...          ...    ...  ...
2021-01-27  5750.087402  6060.695312  8950.979492    NaN  NaN
2021-01-28  5750.087402  6062.183105  8994.460938    NaN  NaN
2021-01-29  5750.087402  6063.613281  9037.425781    NaN  NaN
2021-01-30  5750.087402  6064.983398  9079.863281    NaN  NaN
2021-01-31  5750.087402  6066.302246  9121.764648    NaN  NaN

[338 rows x 5 columns]